$primaryColor: #5605e8;
$primaryBgColor: #131211;
$colorWhite: #fff;
$robotoMono: "Roboto Mono", monospace;
$robotoCon: "Roboto Condensed", sans-serif;
$robotoSlab: "Roboto Slab", serif;
$roboto: "Roboto", sans-serif;
// extend

// navbar
%navLink {
  display: flex;
  align-items: center;
  height: 80px;
  color: $colorWhite;
  text-decoration: none;
  filter: grayscale(0%) opacity(1);
  transition: 600ms;
}
