html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #131211;
}

.titleSection {
  font-size: 18px;
  color: #fff;
  font-family: 'lemonada', cursive;
}

.textTyped {
  color: #fff;
  font-size: 36px;
}

/* Navbar */
.navbar {
  width: 80px;
  position: fixed;
  background: transparent;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  height: 100vh;
}

.navbar:hover {
  width: 256px;
}

.navbar:hover .linkText,
.navbar:hover .logoText {
  display: block;
}

.navbar:hover .logo i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: #fff;
  text-decoration: none;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  color: #fff;
  text-decoration: none;
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.nav-link:hover i,
.nav-link:hover .linkText {
  color: #0028ff;
  font-weight: bold;
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-link.active i,
.nav-link.active .linkText {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bold;
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #0028ff;
}

.linkText {
  display: none;
  margin-left: 16px;
  font-size: 24px;
}

.logoText {
  display: none;
  margin-left: 16px;
}

.logo i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 600ms;
  transition: 600ms;
}

.nav-link i {
  width: 32px;
  min-width: 32px;
  margin: 0 16px;
  font-size: 20px;
}

/* End of Navbar */
/* Home */
#home {
  overflow: hidden;
}

.timeline {
  width: 2px;
  height: 300%;
  left: -10px;
  top: -20px;
  z-index: 9;
  position: absolute;
  background-color: #0028ff;
}

.bullet:before, .bullet {
  position: absolute;
}

.bullet:before {
  content: "";
  left: -4px;
  top: 0;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #0028ff;
  background-color: #131211;
}

/* end of home */
/* About */
#about {
  padding: 40px 60px;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

.timeline-alt {
  width: 2px;
  height: 100%;
  top: 0;
  left: 256px;
  z-index: 9;
  position: absolute;
  background-color: #0028ff;
}

.bullet-alt:before, .bullet-alt {
  position: absolute;
}

.bullet-alt:before {
  content: "";
  left: -28px;
  top: 9px;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #0028ff;
  background-color: #131211;
}

.aboutBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
}

.coding {
  margin-left: 216px;
  position: relative;
}

.coding p {
  margin-bottom: 5px;
}

.coding p,
.coding span {
  font-size: 16px;
}

.comment {
  color: #78707e;
}

.className {
  color: #eeff31;
}

.method {
  color: #5918df;
}

.scope {
  color: #e3244c;
}

.prop {
  color: #24e394;
}

.string {
  color: #24e33a;
}

.code::before {
  content: attr(data-line-num);
  left: -50px;
  position: absolute;
  color: #3b3553;
  font-weight: 600;
}

/* End of About */
/*# sourceMappingURL=main.css.map */